<center>
<h1>Voila la liste de mes films OKLM</h1>
<p><% @movies.each do |movie| %>
    <p><%= movie.title %>, réalisé par <%= movie.director.first_name %><%= movie.director.last_name %>, sorti en <%= movie.release_year %></p>
<% end %></p>
</center>
